/* render */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 4px;
  border-right: 2px solid var(--panel-color);
}

body {
  background: #333;
}
.container {
  padding: 32px 16px 16px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  z-index: 999;
  background-color: var(--panel-color);
}

.prod {
  height: 90%;
  padding: 1em 0;
}

.prod .items {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.6em 0;
  /* border-bottom: 1px solid #fafafa; */
}
.prod .items:nth-child(2n) {
  background: var(--panel-color-odd);
}

.prod .prodSection {
  display: inline;
  width: 60%;
}
.prod .items .prodSection .itemNumber {
  font-size: 0.75em;
  color: var(--toggle-color);
  margin-bottom: 0.5em;
}
.prod .items .prodSection h3 {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  margin-bottom: 6px;
  color: var(--text-color);
  margin-top: -8px;
}
.prod .items .prodSection p {
  display: inline-block;
  font-size: 0.85em;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
}
.prod .items .prodSection .itemImg {
  width: 4em;
  float: left;
}
.prod .items .prodSection.qtyWrap,
.prod .items .prodSection.prodTotal {
  text-align: center;
}
.prod .items .prodSection .itemImg {
  width: 8em;
  display: inline;
  padding-right: 1em;
}

/*  */

.addProd {
  position: absolute;
  top: 48px;
  right: 28px;
  z-index: 99;
  transform: scale(1.5);
  cursor: pointer;
  transition: all 250ms ease-in;
  color: var(--text-color);
}

.addProd:hover {
  transform: scale(1.75);
  color: #0ead69;
}

.prod .items {
  display: flex;
  padding: 12px 16px;
}

.prod .prod-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  font-family: sans-serif;
  height: 10%;
}

.prod .items .infoWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.prod .stt {
  width: 10%;
  font-size: 14px;
  color: var(--toggle-color);
}

.prod .prodSection img {
  width: 128px;
  height: 100px;
  object-fit: cover;
}

.prod .removeWrap {
  width: 10%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prod .removeWrap .prodIcon {
  color: var(--text-color);
  transition: all 150ms linear;
}

.prod .removeWrap .prodIcon:hover {
  color: unset;
  transform: scale(1.25);
}

.prod .removeWrap .prodIcon:hover.editProd {
  color: #3a86ff;
}

.prod .removeWrap .prodIcon:hover.remove {
  color: #e63946;
}

.prod .prodWrap {
  max-height: 100%;
  overflow-y: auto;
}

.prodHead {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  list-style: none;
  height: 10%;
  color: var(--text-color);
}

.prodHead .prodHeader {
  text-align: center;
}

.prod .price {
  width: 20%;
  text-align: center;
  color: var(--text-color);
}

@media (max-width: 400px) {
  .prod .removeWrap {
    flex-direction: column;
  }
}
